cluster_name: rancher

nodes:
  - address: 192.168.40.20
    user: ansible
    role:
      - controlplane
      - etcd
      - worker
  - address: 192.168.40.180
    user: ubuntu
    role:
      - worker

network:
  plugin: weave

ingress:
  provider: nginx
