cluster_name: rancher

nodes:
  {% for host in groups['masters'] | default([]) -%}
  - address: {{ host }}
    user: {{ user }}
    role:
      - controlplane
      - etcd
      - worker
  {%- endfor %}
  {% for host in groups['workers'] | default([]) -%}
  - address: {{ host }}
    user: {{ user }}
    role:
      - worker
  {%- endfor %}

network:
  plugin: weave

ingress:
  provider: nginx
