cluster_name: rancher

nodes:
  - address: {{ groups['running'][0] }}
    user: ansible
    role:
      - controlplane
      - etcd
      - worker
  {% for host in groups['running'][1:] -%}
  - address: {{ host }}
    user: ansible
    role:
      - worker
  {%- endfor %}

network:
  plugin: weave

ingress:
  provider: nginx
