DEFAULT install
LABEL install
KERNEL vmlinuz
INITRD initrd
APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ ansible_default_ipv4.address }}:8080/ubuntu-server.iso autoinstall ds=nocloud-net;s=http://{{ ansible_default_ipv4.address }}:8080/cloud-init/{{ mac }}/
