cluster_name: rancher

nodes:
  - address: clustarr-master
    user: ansible
    role:
      - controlplane
      - etcd
      - worker
  {% for host in groups['workers'] | default([]) -%}
  - address: {{ host }}
    user: ansible
    role:
      - worker
  {%- endfor %}

network:
  plugin: weave

ingress:
  provider: nginx
