#cloud-config
# The previous line is required. Do not delete it.
#
# more info about this file:
# https://ubuntu.com/server/docs/install/autoinstall-reference
# https://discourse.ubuntu.com/t/please-test-autoinstalls-for-20-04/15250
#
autoinstall:
  version: 1
  refresh-installer:
    update: true
  locale: en_US
  user-data:
    timezone: Europe/Berlin
  keyboard:
    layout: de
  identity:
    hostname: clustarrnode
    username: ansible
    password: "$6$ix9g2d6AqYKgn7jb$KF179w.FiLXMdG/raUBn/4cxvRAe/Mf/vFOov4ZChUsdN3CG3zIKp30HVUs9A7b0fz.EogdHLc12do4TV/PhP1"
  ssh:
    install-server: true
    allow-pw: true
    authorized-keys:
      - "{{ ssh_public_key }}"
      - "{{ publickey['content'] | b64decode | trim() }}"
